<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wakeup.autoclick">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions"></uses-permission>



    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FloatingViewService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="service.AutoClicker"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/config" />
        </service>

        <activity
            android:name="servicecontrol.AutoClickSpeed"
            android:label="@string/app_name" />
        <activity
            android:name="servicecontrol.AutoSwipeSpeed"
            android:label="@string/app_name" />

        <activity
            android:name="servicecontrol.Configuration"
            android:label="@string/app_name" />
        <activity
            android:name="servicecontrol.AllSettings"
            android:label="@string/app_name" />
        <activity
            android:name="servicecontrol.Preference"
            android:label="@string/title_activity_preference" />
        <activity
            android:name="servicecontrol.DelayActivity"
            android:theme="@style/AppTheme.Transparent" />
        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0" />
        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1" />
    </application>

</manifest>